<div class="banner text-center">
  <div class="container">
    <div class="row">
      <form action="/answer">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <label for="question">Speak to your coach</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="text" id="question" name="query" placeholder="what time is it?">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <input type="submit" value="Go on!" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>



